# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so

# Environments
.env
.envrc
.venv

# Ignore all images
*.png
*.jpg

# Ignore particular folders
Weitzman_factorial_results/
Weitzman_heuristic_results/
Sequences_visualization/
