# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Packaging
*.egg-info/
dist/
build/

# Environments
.env
.envrc
.venv/
venv/

# Ignore all images
*.png
*.jpg

# Ignore particular folders
results/
